<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="text-center">
			<h2 class='header text-primary'>{{viewQuiz.quiz.title}}</h2>
			<h4 class="header">{{viewQuiz.quiz.description}}</h4>
			<div class="progress">
				<div class="progress-bar" style="width: {{viewQuiz.progress}}%;"></div>
			</div>
		</div>
		<div class="alert alert-{{viewQuiz.answerStatus}}" ng-show="viewQuiz.answerStatus">
			<span>{{viewQuiz.answerStatusText}}</span>
		</div>
		<div ng-if="viewQuiz.currentQuestion" ng-hide="viewQuiz.showingResults">
			<h3 class="header text-primary">{{viewQuiz.currentQuestion.title}}</h3>
			<div ng-repeat="option in viewQuiz.currentQuestion.options track by $index">
				<div ng-show="viewQuiz.currentQuestion.type == 'Single'">
					<span class="radio radio-default">
						<label>
							<input type="radio" id="option.id" name="answer" ng-model="viewQuiz.currentQuestion.answer" ng-value="option.id" ng-disabled="viewQuiz.answerStatus">
							<p ng-class="{'text-primary': option.id == viewQuiz.answerCorrect}">{{option.description}}</p>
						</label>
					</span>
				</div>
				<div ng-show="viewQuiz.currentQuestion.type == 'Multiple'">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="option.id" ng-model="option.answer" ng-disabled="viewQuiz.answerStatus">&nbsp;{{option.description}}</label>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-primary" ng-click="viewQuiz.evaluate(false)">Check</button>
				<button class="btn btn-default" ng-click="viewQuiz.next()" ng-disabled="!viewQuiz.currentQuestion.answer && viewQuiz.currentQuestion.type == Type.Single"
				ng-hide="viewQuiz.isLast()">Next</button>
				<button class="btn btn-default" ng-click="viewQuiz.showResults()" ng-show="viewQuiz.isLast()">Show results</button>				
			</div>
		</div>
		<div ng-if="viewQuiz.showingResults">
			<h3 class="header text-primary">Results</h3>
			<div class="alert alert-info">
				<strong>Quiz completed!</strong><br>
				<span>Your final score is {{viewQuiz.finalScore}} %, and you answered <strong>{{viewQuiz.totalCorrect}}</strong> of <strong>{{viewQuiz.totalQuestions}}</strong> questions correctly.</span>
			</div>
			<div ng-repeat="question in viewQuiz.quiz.questions track by $index">
				<h4 class="text-default}}">{{question.title}}</h4>
				<div ng-repeat="option in question.options track by $index">
					<p ng-class="{'text-success': viewQuiz.isCorrect(question, option), 'text-danger': viewQuiz.isWrong(question, option)}">{{option.description}}</p>
				</div>
				<hr>
			</div>
			<div class="text-center">
				<button class="btn btn-default" ng-click="viewQuiz.retry()" ng-show="viewQuiz.showingResults">Retry</button>
			</div>
		</div>
		<div class="text-center">
			<button class="btn btn-primary" ng-click='viewQuiz.answer()' ng-if="!viewQuiz.currentQuestion">Answer</button>
		</div>
	</div>
</div>