<div class="row">
	<div class="col-md-12 col-sm-6">
		<button class="btn btn-default" ng-click="manageQuiz.createQuiz()">Create quiz</button>
		<hr>
		<accordion close-others=false>
			<accordion-group ng-repeat="quiz in manageQuiz.quizzes" heading={{quiz.title}}>
				<a ui-sref="quiz({id: quiz._id})">
					<span>
					Acessar quiz
					</span></a>
				<div class="btn-group pull-right">
					<button class="btn btn-primary" ui-sref="edit({id: quiz._id})">
						<i class="material-icons">edit</i>
					</button>
					<button class="btn btn-danger" ng-click="manageQuiz.deleteQuiz(quiz._id)">
						<i class="material-icons">delete</i>
					</button>
				</div>
				<span>{{quiz.description}}</span>
			</accordion-group>
		</accordion>
	</div>
</div>