<div class="row" ng-click="editQuiz.editing = null">
	<div class="col-md-12">
		<form>
			<div class="form-group label-floating">
				<label for="quizTitle" class="control-label">Quiz title</label>
				<input id="quizTitle" class="form-control" ng-model="editQuiz.quiz.title" />
			</div>
			<div class="form-group label-floating">
				<label for="quizDescription" class="control-label">Quiz description</label>
				<textarea id="quizDescription" class="form-control" ng-model="editQuiz.quiz.description"></textarea>
			</div>
		</form>
		<button class="btn btn-primary pull-right" ng-click="editQuiz.save()">Save</button>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<h2>
			<p class="text-primary">Questions</p>
		</h2>
		<h3 ng-repeat="question in editQuiz.quiz.questions track by $index">
			<p ng-click="editQuiz.selectQuestion(question)">{{question.title}}</p>
		</h3>
		<a href="javascript:void(0)" class="btn btn-default btn-fab" ng-click="editQuiz.newQuestion()"><i class="material-icons">add</i></a>
	</div>
	<div class="col-md-4 col-md-offset-2">
		<div ng-if="editQuiz.currentQuestion">
			<div class="form-group">
				<label class="control-label" for="questionTitle">Question title</label>
				<input class="form-control input-lg" type="text" id="questionTitle" ng-model="editQuiz.currentQuestion.title">
			</div>
			<div class="btn-group">
				<label class="btn btn-default" ng-model="editQuiz.currentQuestion.type" btn-radio="'Single'">Single choice</label>
				<label class="btn btn-default" ng-model="editQuiz.currentQuestion.type" btn-radio="'Multiple'">Multiple choice</label>
			</div>
			<div ng-repeat="option in editQuiz.currentQuestion.options track by $index">
				<span ng-show="editQuiz.currentQuestion.type == 'Single'">
					<div class="form-group" ng-show="editQuiz.editing == option.id">
						<input class="form-control" ng-model="option.description" ng-blur="editQuiz.editing = null">
					</div>
					<span class="radio radio-default" ng-mouseover="editQuiz.canEdit = option.id">
						<label>
							<input type="radio" id="option.id" name="answer" ng-model="editQuiz.currentQuestion.correct" ng-value="option.id">{{option.description}}</label>
						<i ng-show="editQuiz.canEdit == option.id" class="material-icons pull-right" ng-click="editQuiz.editing = option.id">edit</i>
					</span>
				</span>
				<span ng-show="editQuiz.currentQuestion.type == 'Multiple'">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="option.id" ng-model="option.correct">&nbsp;{{option.description}}</label>
					</div>
				</span>
			</div>
			<button class="btn btn-primary" ng-click="editQuiz.addOption()">Add option</button>
		</div>
	</div>
</div>